name: Publish package

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC authentication
  contents: read # Allows the workflow to read repository contents


jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: yarn install

      - name: Build package
        run: npm run build

      - name: Publish to npm
        run: npm publish --access public